<div class="row">
    <div class="col-sm">
        <video id="video" width="440" height="331" autoplay muted></video>
        <button id="startbutton">Tomar foto</button>
    </div>

    <div class="col-sm">
        <h3 class="text-center">Quien eres!</h3>
        <table class="table">
            <tr>
                <th scope="col">Edad</th>
                <td>24</td>
            </tr>
            <tr>
                <th scope="col">Sexo</th>
                <td>Hombre</td>
            </tr>
            <tr>
                <th scope="col">Estado de ánimo</th>
                <td>Feliz</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <h3 class="text-center">Habla con nosotros</h3>
        <form class="chat">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Chat</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg">
            </div>
        </form>
    </div>
</div>