{{!-- <div class="row">
    <div class="col-sm">
        <video id="video"></video>
        <canvas id="canvas"></canvas>
        <img src="" id="photo" alt="photo">
        <button id="startbutton">Take photo</button>
    </div>

    <div class="col-sm">
        <table class="table">
            <tr>
                <th scope="col">Edad</th>
                <td>24</td>
            </tr>
            <tr>
                <th scope="col">Sexo</th>
                <td>Hombre</td>
            </tr>
            <tr>
                <th scope="col">Estado de ánimo</th>
                <td>Normal</td>
            </tr>
        </table>
    </div>
</div> --}}