<div class="row">
    <div class="col-sm">
        <div class="camera">
            <video id="video"></video>
            <button id="startbutton">Tomar foto</button>
        </div>
    </div>

    <div class="col-sm">
        <canvas id="canvas">
        </canvas>
        <div class="output">
            <img id="photo">
        </div>
    </div>

    <div class="col-sm">
        <table class="table">
            <tr>
                <th scope="col">Edad</th>
                <td>24</td>
            </tr>
            <tr>
                <th scope="col">Sexo</th>
                <td>Hombre</td>
            </tr>
            <tr>
                <th scope="col">Estado de ánimo</th>
                <td>Normal</td>
            </tr>
        </table>
    </div>
</div>