<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/api/file/add" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        {{!-- <input type="text" name="title" class="form-control" placeholder="Image Title"> --}}
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" 
                                id="inputGroupFile01">
                                <label for="inputGroupFile01" 
                                class="custom-file-label">Selecciona un archivo</label>
                            </div>
                        </div>
                        <button class="btn btn-primary">Subir imagen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h1>Imagen</h1>
    </div>
</div>